<p id="notice"><%= notice %></p>

<p>
<<<<<<< HEAD
  <b> title:</b>
  <%= @product. title %>
=======
  <b>Title:</b>
  <%= @product.title %>
>>>>>>> 4630ed717308d4f97fcc7c3d32c1f5f8699eeda2
</p>

<p>
  <b>Description:</b>
  <%= @product.description %>
</p>

<p>
  <b>Image url:</b>
  <%= @product.image_url %>
</p>

<p>
  <b>Price:</b>
  <%= @product.price %>
</p>


<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>
